.bodya{
	background-color: lightgray;
}

.bodyb{
	background-color: darkblue;
}

.bodyc{
	background-color: darkseagreen;
}

.bodyd{
	background-color: darkred;
}

.container{
	margin: auto;
	margin-top: 20px;
	padding: 20px;
	width: 400px;
	height: auto;
	text-align: justify;
	background-color: white;
	border: 2px solid gray;
}

.form{
	margin: auto;
	margin-top: 20px;
	padding: 20px;
	width: 500px;
	height: auto;
	background-color: white;
	border: 2px solid gray;
	border-radius: 30px;
	box-shadow: 10px 20px 20px black;
}

.one-form{
	text-align: center;
	margin: auto;
	margin-top: 70px;
	padding: 20px;
	width: 400px;
	height: auto;
	background-color: white;
	border: 2px solid gray;
	border-radius: 10px;
	box-shadow: 10px 20px 20px black;
}

.tabletambah{
	margin-left: 20px;
	padding: 23px;
	line-height: 35px;
}

.blueButton{
	border: 1px solid skyblue;
	border-radius: 20px;
	background-color: rgba(0, 50, 250, .7);
	width: 120px;
	height: 25px;
	color: white;
	margin: 4px;
	margin-left: 170px;
}

.greenButton{
	border: 1px solid seagreen;
	border-radius: 20px;
	background-color: rgba(0, 139, 46, 0.7);
	width: 120px;
	height: 25px;
	color: white;
	margin: 4px;
	margin-left: 170px;
}

img{
	margin-left: 130px;
	padding: 20px;
	width: 100px;
	height: 190px;
	border: 2px solid gray;
}

p{
	line-height: 20px;
	font-family: georgian, sans-serif;
	font-size: 15px;
}

.desk{
	border: 1px solid gray;
	padding: 10px;
}

.tombol-kembali{
	margin: auto;
	width: 100%;
	height: 30px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

a{
	text-decoration: none;
}

.special{
	border: 1px solid gray;
	padding: 5px;
	background-color: darkred;
	color: white;
}

.judul{
	font-size: 30px;
	margin-top: 28px;
	height:60px;
	border-bottom: 1px solid black;
}

.input-login{
	width: 370px;
	height: 30px;
	border: 1px solid rgba(214, 11, 11, .7);
	border-radius: 8px;
	padding: 10px;
}

.remember{
	border-top: 1px solid black;
	padding: 20px;
	margin-top: 30px;
}